@extends("layouts/layout")

@section("content")
    <h1>Content</h1>

    @foreach(item in items)
        <li>${item.name}</li>
    @endforeach

    @if(items[0].id == 1)
    <h1>Is True</h1>
    @else
    <h1>This is false!</h1>
    @endif

    @unless(false)
    <h1>Is False</h1>
    @endunless

    ${#This is a Comment!#}
    ${=html}


    <p>${test(title,"argument 1")}</p>

    <ul>
    @foreach(item in items)

        <li>
            ${item.name}

            @foreach((i,person) in item.people)
                <div>#${i}: ${item.name} ${person}</div>
            @endforeach
        </li>


    @endforeach
    </ul>

    @include("partials/partial")

@endsection

@section("footer")

<footer>
    <p>Copyright!</p>
    <h1>${footer.title}</h1>
</footer>

@endsection