@extends(layouts/master)

@section(body)

    <h1 class="${?name:true, noname:false}">Grenade Demo</h1>

    @block(FormComponent, {method:"post"})
        <label for="Input">Label</label>
        <input type="text" placeholder="${data.title}">
    @endblock



    @set(title = "Neato")

    @if(true)
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ea est et facere ipsam quo repellendus, sapiente. Consequuntur, eligendi, iste?</p>
    @endif

@endsection


@section(footer)

    @foreach(person in data.people)
        @component(PersonComponent, person)
    @endforeach


    <ul class="footer-menu">
        <li>Menu 1</li>
        <li>Menu 2</li>
        <li>Menu 3</li>
    </ul>

@endsection